






/* Style the top navigation bar */

.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }


p, 
ul {
  border: 2px solid rebeccapurple;
  padding: .5em;
}

p, 

.box {
  border: 5px solid rebeccapurple;
  background-color: lightgray;
  padding: 40px;
  margin: 40px;
  width: 300px;
  height: 150px;
}
p,
.article {
  border: 5px solid rebeccapurple;
  background-color: lightgray;
  padding: 40px;
  margin: 40px;
  width: 300px;
  height: 150px;
}


.Trivia {
    background-color: yellow;
  }

  
  img {
    max-width: 25%;
    max-height:20%;
    float: left;
  }
  
  .text {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20%;
    float: left;
  }

  