body {
  background-color: lightblue;
  display: flex;
  flex-wrap: wrap;
 
}

img {
  border: 10px solid #000;
  max-width: 220px;
  max-height: 150px;
}

input {
  margin: 5px;
}


.article {

  border: 5px solid rebeccapurple;
  background-color: lightgray;
  padding: 40px;
  margin: auto;
  width: 600px;
  height: 200px;
}


.box {
  border: 5px solid rebeccapurple;
  background-color: lightgray;
  padding: 2px;
  width: auto;
  display: flex;
  overflow: auto;
  border-color: rebeccapurple;
  border-style: solid;
  border-width: 0cap;
  border-radius: 10%;
}
.BlogHeading {
  padding-top: 20px;

}

figure {
  border: thin #c0c0c0 solid;
  display: flex;
  padding: 5px;
  max-width: 220px;
  margin: auto;
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: left;
}

* {
  box-sizing: border-box;
  padding: 0;
}

/* Center website */
.main {

  max-width: 1000px;
  margin: auto;
}

h1 {

  font-size: 50px;
  word-break: break-all;
  color: #000;
}

.row {
  margin: 8px -16px;
}

tfoot {
  font-weight: bold;
}



/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.zeppo_marx {
  background-color: black;
  float: left;
  clear: both;
}

.trivia {
  background-color: black;
  float: right;
  clear: both;
}

.death {
  background-color: black;
  float: left;
  clear: both;

}

.early {
  background-color: black;
  float: right;
  clear: both;
}

/* style my nav bar */
.topnavblog {
  background: #222;
  padding: 0 15px;
  position: fixed;
  width: 100%;


}

ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0%;
}

li {
  position: sticky;

}

li a {
  color: white;
  text-align: center;
  padding: 104px 16px;
  text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
  color: white;
}

/*change color for active page+have to apply to ea page*/
.active {
  background-color: #bbb9e6;
  color: black;
}

/*flexboxes the whole card class*/
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 100px; 
  background-color: rgb(152, 197, 182);
}

.card {
  background-color: rgb(245, 247, 247);
  width: 200px;
  margin: 10px;
  border: 10px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.card img {
  max-width: 100%;
}

.card .text {
  border: 0;
  padding: 0 20px 1%;
  width: 100%;
}

/*outline for table*/
table,
th,
td {
  border: 1px solid black;
}

footer {

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: cadetblue;
    color: white;
    text-align: center;
  

}
body, h1, h2, h3, h4, h5, h6  {
  font-family: Roboto, sans-serif;
}
